<% content_for(:title, "Wichita vendors | Made in Wichita") %>

<h1><%= @vendor.name %></h1>

<p><%= @vendor.description %></p>
<p>Owner: <%= @vendor.owner %></p>
<p>Location: <%= @vendor.location %></p>
<p>Phone: <%= @vendor.phone %></p>
<p>Website: <%= @vendor.website %></p>

<h3>This vendor sells these Wichita-made products:</h3>
<ul>
	<% @vendor.products.each do |product| %>
		<li>
			<a href="/products/<%= product.id %>"><%= product.name %></a>
		</li>
	<% end %>
</ul>

<p><%= link_to "Back to vendor list", vendors_path, :class => "btn btn-default" %>
<%= link_to "Edit this vendor", edit_vendor_path(@vendor), :class => "btn btn-default" %>
<%= link_to "Delete this vendor", vendor_path(@vendor),
											:data => {:confirm => "Are you sure?",
																:method => "delete"},
											:class => "btn btn-danger" %>
<a href="/vendors/<%= @vendor.id %>/new_vendor_product">Add product for this vendor</a>											
								
</p>