<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= flash[:alert] %>
<%= flash[:notice] %>

<div class="container">

<h1>Made in Wichita</h1>
<a href="/vendors">Wichita-friendly vendors</a> | <a href="/products">Wichita-made products</a>


<%= yield %>

</div>

</body>
</html>
